---
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'ko' }}">
  <head>
    {% include site-head.html home=true %}
  </head>
  <body class="home-page">
    {% include cross-site-nav.html %}

    {{ content }}

    <script src="/static/js/jquery-1.11.0.min.js"></script>
    <script src="/static/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/super-search.js"></script>
    <script src="/static/js/thickbox-compressed.js"></script>
    <script src="/static/js/projects.js"></script>
    <script src="/static/js/hero-bg-vanta.js"></script>
    <script src="/static/js/category-filter.js"></script>
  </body>
</html>
